@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-photo">
	<h1>Hall of Heroes</h1>

	<p><a href="https://localhost:44393/Superhero/Index" class="btn btn-primary btn-lg">See the Superheroes! &raquo;</a></p>
</div>